<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Prueba Spring Boot</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

	<nav class="navbar navbar-dark" style="background-color: #000">
	  <a class="navbar-brand" href="">
	    <img src="https://images.unsplash.com/photo-1529788295308-1eace6f67388?..." width="35" height="35" class="d-inline-block align-top" alt="">
	    Mercado Eclipse
	  </a>
	</nav>
	
	<h1>Ejecutando Proyecto</h1>
	<div id="div-start-session">

	    <form>

	        <input name="usuario"
	               id="usuario"
	               type="text"
	               placeholder="usuario">

	        <input name="password"
	               id="password"
	               type="password"
	               placeholder="contraseña">

	        <button type="submit"
	                formaction="/inicio-sesion"
	                formmethod="POST">
	            Login
	        </button>

	        <button type="submit"
	                formaction="/registro"
	                formmethod="POST">
	            Registrarse
	        </button>

	    </form>

	    <p th:if="${mensajeLogin != null}"
	       th:text="${mensajeLogin}"></p>

	    <p th:if="${mensajeRegistro != null}"
	       th:text="${mensajeRegistro}"></p>

	</div>
    <hr>

</body>
</html>