<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Prueba Spring Boot</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <h1>Ejecutando Proyecto</h1>
	<div id="div-start-session">
	    <form th:action="@{/inicio-sesion}" method="POST">
	        <input name="usuario" type="text" placeholder="usuario">
	        <input name="password" type="password" placeholder="contraseña">
	        <button type="submit">Entrar</button>
	    </form>
	</div>
    <form th:action="@{/pulsarBoton}" method="POST">
        <button type="submit">Púlsame</button>
    </form>

    <hr>

    <p th:if="${resultado != null}" th:text="${resultado}"></p>

</body>
</html>