<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Mercado Eclipse - Login</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}" />
  </head>

  <body>
    <nav class="top-navbar">
      <a class="navbar-brand" href="">
        <img
          src="https://images.unsplash.com/photo-1529788295308-1eace6f67388"
          alt="Logo Mercado Eclipse"
        />
        Mercado Eclipse
      </a>
    </nav>
    
    <div class="bg-wrapper">
        <div class="bg-gradient"></div>
    </div>

    <div class="panel">
        <h1 class="section-title">Mercado Eclipse</h1>
        
        <form class="form-container">
            <input name="usuario" id="usuario" type="text" placeholder="Usuario" />
            <input name="password" id="password" type="password" placeholder="Contraseña" />

            <div class="buttons-row">
                <button type="submit" class="btn-success" formaction="/inicio-sesion" formmethod="POST">
                    Login
                </button>
                <button type="submit" class="btn-primary" formaction="/registro" formmethod="POST">
                    Registrarse
                </button>
            </div>
        </form>

        <p class="message" th:if="${mensajeLogin != null}" th:text="${mensajeLogin}"></p>
        <p class="message" th:if="${mensajeRegistro != null}" th:text="${mensajeRegistro}"></p>
    </div>
  </body>
  
</html>