<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Modificar Producto</title>
	
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000;">
	  <div class="container-fluid">
	    <a class="navbar-brand d-flex align-items-center" href="#">
	      <img src="https://images.unsplash.com/photo-1529788295308-1eace6f67388?..." width="35" height="35" class="d-inline-block align-top me-2" alt="Logo" style="border-radius: 5px;">
	      <span>Mercado Eclicse</span>
	    </a>

	      <ul class="navbar-nav me-auto">
	        <li class="nav-item">
	          <a class="nav-link" href="./admin/anadirProducto">Añadir Productos</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="./admin/modificarProducto.html">Modificar Producto</a>
	        </li>
	      </ul>

	      <div class="d-flex">
	        <a href="../index.html" class="btn btn-outline-danger btn-sm">
	          Cerrar Sesión
	        </a>
	      </div>
	    </div>
	  </div>
	</nav>
 

</body>
</html>